<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <style>
        #per_d1{
            width: 320px;
            height: 200px;
            border: 1px solid;
            margin: 80px auto ;
        }
        a{
            margin-right: 30px;
        }
        #td_1{
            width: 80px;
            height: 80px;
            /* border: solid 1px; */
            border-radius: 50% ;
            margin-left: 15px;
        }
        
    </style>
</head>
<body>
    <div id="per_d1">
            <table>
                    <tr>
                        <td >
                            <img id="td_1" src="../../static/picture/fz.jpg">
                        </td>
                        <td >
                            <p>欢迎回来!</p>
                            <p>{{ nickname }}</p>
                            <p>{{ 姓名 }}</p>
                            <br><br>
                            <a href="">修改密码</a>
                            <a href="/user/set_phone">绑定手机</a>
                            <br> <br>
                            <a href="">我的订单</a>
                            <a href="/user/edit_data">编辑资料</a>
                        </td>
                    </tr>
            </table>
    </div>
</body>
</html>