<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<style>
    div{
        display:inline-block;
    }
    #show1{
        color: red;
    }
    #btn{
        margin-right: 40px;
    }
</style>
<script src="../../static/js/jquery-1.11.3.js"></script>
<body>

    <div>用户名:<input id="username" type="text" name="username"></div><div id="show1"></div><br>
    <div>密码:<input id="password_1" type="text" name="password_1"></div><br>
    <div>再次输入密码:<input id="password_2" type="text" name="password_2"><br>
    <button id="btn">注册</button><a style="text-decoration:none;" href="/user/login">返回登录</a>

    <script>
    //　$ 符号表示html文档所有元素都已加载
    $(function(){
        // $('#btn')表示获取这个btn的对象,的点击事件执行function函数
        $('#btn').click(function(){
                var username=$('#username').val();
                var password_1=$('#password_1').val();
                var password_2=$('#password_2').val();
            // jq 封装的ajax对象
            $.ajax({
                url:'/user/register_ajax?username='+username+'&password_1='+password_1+'&password_2='+password_2,
                type:"GET",
                // 把从url取回来的数据放在res中
                success:function(res){
                    // 把res传给html
                   $('#show1').html(res)
                }
            })
        })
    })
    </script>


</body>
</html>