<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>首页</title>
	<!--处理样式-->
	<link rel="stylesheet" type="text/css" href="../../static/css/reset.css">	
	<!--公共的CSS-->
	<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
	<!--首页的CSS-->
	<link rel="stylesheet" type="text/css" href="../../static/css/index.css">
	<!-- easyfader链接 -->
	<link rel="stylesheet" href="../../static/css/jquery.easyfader.css">
	<script src="../../static/js/jquery.min.js"></script>
	<script src="../../static/js/jquery.easyfader.min.js"></script>
</head>
<body>
<!-----------------------------顶格--------------------------------->
<div class="page-top">
	<div class="container">
		<!-------------------最上方左边--------------------------------->
		<div class="top-lt">
			<a href="">鹏城商城</a>
		</div>
		<!-----------------------最上方左边 end--------------------------------->
		<!----------------------最上方右边------------------------------------>
		<div class="top-gt">
			<div class="car-box">
				<a href="" class="tit">购物车</a>
				<div class="pop">
					<p class="no-good">购物车还没有商品，赶紧选购吧！</p> 
					<!-- <ul class="list">
						<li>
							<a href="" class="pic"><img src="img/mi10.png"></a>
							<div class="txt">草莓蛋糕</div>
							<div class="num">
								<h4>500元 * 1</h4>
							</div>
						</li>
					</ul> -->
					<!-- <div class="total">
						<div class="price">
							<p>共1件商品</p>
							<h3>500元</h3>
						</div>
						<a href="" class="btn">立即结算</a>
					</div> -->
				</div>
			</div>
			<div class="login">
				<a href="">登录</a>
				<span>|</span>
				<a href="">注册</a>
				<span>|</span>
				<a href="">消息通知</a>
			</div>
			<!-- <div class="userinfo">
				<a href="" class="link">消息通知</a>
				<a href="" class="link">我的订单</a>
				<div class="user">
					<a href="" class="tit">用户~~</a>
					<ul>
					<li><a href="">个人中心</a></li>
					<li><a href="">评价晒单</a></li>
					<li><a href="">我的喜欢</a></li>
					<li><a href="">退出登录</a></li>
					</ul>
				</div> -->
			<!-- </div> -->
		</div>
		<!--------------------------最上方右边 end-------------------------------->
	</div>
</div>

<!---------------------------------导航----------------------------------------------->
<div class="page-nav">
	<div class="container">
		
		<!---------------------------搜索框------------------------------------>
		<!-- <div class="search">
			<form action="" method="post">
				<input type="text" name="" class="q">
				<input type="submit" class="btn" name="" value="搜索">
			</form>
		</div> -->
	</div>
</div>

<!--------------------------------轮播图------------------------------------->
<div class="idx-banner container">
	<div id="dowebok" class="fader">
		<img class="slide" src="../../static/imgs/奥利奥蛋糕.jpg">
		<img class="slide" src="../../static/imgs/榴芒蛋糕.jpg">
		<img class="slide" src="../../static/imgs/水果奶油蛋糕.jpg">
		<div class="fader_controls">
			<div class="page prev" data-target="prev">&lsaquo;</div>
			<div class="page next" data-target="next">&rsaquo;</div>
			<ul class="pager_list"></ul>
		</div>
	</div>
</div>
<script>
	$(function(){
    	$('#dowebok').easyFader();
	});
</script>

<!-----------------------------内容区--------------------------------------->
<div id="product_display">
	<ul class="cakeli">
		<ul>
			<li>
				<a href="">
					<img src="../../static/imgs/榴莲返祖.jpg">
				</a>
				<h3>蛋糕1</h3>
				<p>信息简介</p>
				<span>价格</span>
			</li>
			<li>
				<a href="">
					<img src="../../static/imgs/榴芒双拼.jpg">
				</a>
				<h3>蛋糕2</h3>
				<p>信息简介</p>
				<span>价格</span>
			</li>
			<li>
				<a href="">
					<img src="../../static/imgs/芒莓二重奏.jpg">
				</a>
				<h3>蛋糕3</h3>
				<p>信息简介</p>
				<span>价格</span>
			</li>
		</ul>
				
		<ul>
			<li>
				<a href="">
					<img src="../../static/imgs/四季.jpg">
				</a>
				<h3>蛋糕4</h3>
				<p>信息简介</p>
				<span>价格</span>
			</li>		
			<li>
				<a href="">
					<img src="../../static/imgs/香印青提蛋糕.jpg">
				</a>
				<h3>蛋糕5</h3>
				<p>信息简介</p>
				<span>价格</span>
			</li>	
			<li>
				<a href="">
					<img src="../../static/imgs/醉爱.jpg">
				</a>
				<h3>蛋糕6</h3>
				<p>信息简介</p>
				<span>价格</span>
			</li>
		</ul>
	</ul>
</div>

<!--------------------------------- 侧边栏------------------------------------->
<ul class="page-slider">
	<li>
		<a href="">
		<img src="../../static/imgs/car1.png" class="imgf">
		<img src="../../static/imgs/car2.png" class="imgf imgs">
		<span>购物车</span>
		</a>	
	</li>
	<li>
		<a href="">
		<img src="../../static/imgs/connect1.png" class="imgf">
		<img src="../../static/imgs/connect2.png" class="imgf imgs">
		<span>联系客服</span>
		</a>
	</li>
	<li>
		<a href="">
		<img src="../../static/imgs/totop.png" class="imgf">
		<img src="../../static/imgs/totop_hover.png" class="imgf imgs">
		<span>返回顶部</span>
		</a>
	</li>
</ul>
 <!----------------------侧边栏 end--------------------------------->
 <!------------------------最低层--------------------------------->
<div class="page_bottom">
	<div>大鹏一日同风起，扶摇直上九万里.</div>
	<br>
	<h1>鹏城商店</h1>
</div>
</body>
</html>

