<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品详情</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
<!--------------------------顶格-------------------------------->
<div class="page-top">
    <div class="container">
        <!-------------------最上方左边--------------------------------->
        <div class="top-lt">
            <a href="">鹏城商城</a>
        </div>
        <!-----------------------最上方左边 end--------------------------------->
        <!----------------------最上方右边------------------------------------>
        <div class="top-gt">
            <div class="login">
                <a href="/user/login">登录</a>
                <span>|</span>
                <a href="/user/register">注册</a>
                <span>|</span>
                <a href="/order/get_order">历史订单</a>
            </div>
        </div>
        <!--------------------------最上方右边 end-------------------------------->
    </div>
</div>

<!-----------------------导航--------------------------------------->
<div class="page-nav">
    <div class="container">
        <!---------------------------搜索框------------------------------------>
        <!-- <div class="search">
            <form action="" method="post">
                <input type="text" name="" class="q">
                <input type="submit" class="btn" name="" value="搜索">
            </form>
        </div> -->
    </div>
</div>

<!----------------------内容区---------------------------------->
<div class="path">
    <a href="/">首页</a>
    <span>&gt;</span>
    <a href="">{{ result.commodity_name }}</a>
</div>
<div id="content">
    <!-- 左边内容 -->
    <div class="lt_content">
        <img src={{ result.commodity_pic_address }} alt="">
    </div>
    <!-- 右边内容 -->
    <div class="rt_content">
        <h3>{{ result.commodity_name }}</h3>
        <p>{{ result.commodity_info }}</p>
        <ul>选择磅数：
            <li class="oncli">1 磅</li>
            <li>2 磅</li>
            <li>3 磅</li>
        </ul>
        <div class="cake_num">数量:
            <div class="sub">
                -
            </div>
    
            <div class="buy_num">
                <input type="text" class="buy_num_box" value="1"/>
            </div>
    
            <div class="add">
                +
            </div>
        </div>
        <div class="pay_price" value="{{ result.commodity_price }}">价格：
            <div>
                {{ result.commodity_price }} 元
            </div>
        </div>
        <div class="buy_btn">
            <p>加入购物车</p>
        </div>
    </div>
</div>

<!----------------------侧边栏---------------------------------->
<ul class="page-slider">
	<li>
		<a href="/cart/get_html">
		<img src="../../static/imgs/car1.png" class="imgf">
		<img src="../../static/imgs/car2.png" class="imgf imgs">
		<span>购物车</span>
		</a>	
	</li>
	<li>
		<a href="">
		<img src="../../static/imgs/connect1.png" class="imgf">
		<img src="../../static/imgs/connect2.png" class="imgf imgs">
		<span>联系客服</span>
		</a>
	</li>
	<li>
		<a href="">
		<img src="../../static/imgs/totop.png" class="imgf">
		<img src="../../static/imgs/totop_hover.png" class="imgf imgs">
		<span>返回顶部</span>
		</a>
	</li>
</ul>

<!------------------------最低层--------------------------------->
<div class="page_bottom">
	<div>大鹏一日同风起，扶摇直上九万里.</div>
	<br>
    <h1>鹏城商店</h1>
</div>

<!-- js -->
<script>
    // 磅数选择js
    $("#content .rt_content ul li").click(function(){
        $("#content .rt_content ul li").each(function(index,element){
            $(this).removeClass()
        });
        $(this).addClass("oncli");
        var pound_obj = $('.rt_content ul li')
        if(pound_obj[0].className == "oncli"){
            pound = 1
        }
        if(pound_obj[1].className == "oncli"){
            pound = 2
        }
        if(pound_obj[2].className == "oncli"){
            pound = 3
        }
        var count = $('.buy_num_box').val()
        var price = 198*pound*count
        var show_price_obj = $('.pay_price div')
        show_price_obj.text(price + " 元") 
        var price_val = $('.pay_price').attr('value', price)
    });
    // 蛋糕数量选择
    $("#content .rt_content .cake_num .sub").click(function(){
        var num = $("#content .rt_content .cake_num .buy_num .buy_num_box").val();
        if(num!=1){
            $("#content .rt_content .cake_num .buy_num .buy_num_box").val(num-1);
            var pound_obj = $('.rt_content ul li')
            if(pound_obj[0].className == "oncli"){
                pound = 1
            }
            if(pound_obj[1].className == "oncli"){
                pound = 2
            }
            if(pound_obj[2].className == "oncli"){
                pound = 3
            }
            var count = $('.buy_num_box').val()
            var price = 198*pound*count
            var show_price_obj = $('.pay_price div')
            show_price_obj.text(price + " 元") 
            var price_val = $('.pay_price').attr('value', price)
        }
    });
    $("#content .rt_content .cake_num .add").click(function(){
        var num = $("#content .rt_content .cake_num .buy_num .buy_num_box").val();
        $("#content .rt_content .cake_num .buy_num .buy_num_box").val(parseInt(num)+1);
        var pound_obj = $('.rt_content ul li')
        if(pound_obj[0].className == "oncli"){
            pound = 1
        }
        if(pound_obj[1].className == "oncli"){
            pound = 2
        }
        if(pound_obj[2].className == "oncli"){
            pound = 3
        }
        var count = $('.buy_num_box').val()
        var price = 198*pound*count
        var show_price_obj = $('.pay_price div')
        show_price_obj.text(price + " 元") 
        var price_val = $('.pay_price').attr('value', price)
    });
    // 登录验证
    $(function(){
		var login = $('.login a')[0]
		var register = $('.login a')[1]
		$.ajax({
			url: '/user/check_session',
			type: 'get',
			success:function(res){
				if(res.code == 200){
					login.text = "退出登录"
					login.href = "/user/logout"
					register.text = ""
					register.herf = ""
				}else{
					login.text = "登录"
					login.herf = "/user/login"
					register.text = "注册"
					register.herf = "/user/register"
				}
			}
		})
	})
    // 加入购物车
    $('.buy_btn p').click(function(){
        var c_name = $('.rt_content h3')[0].innerText
        var pound_obj = $('.rt_content ul li')
        if(pound_obj[0].className == "oncli"){
            pound = 1
        }
        if(pound_obj[1].className == "oncli"){
            pound = 2
        }
        if(pound_obj[2].className == "oncli"){
            pound = 3
        }
        var count = $('.buy_num_box').val()
        var price = $('.pay_price').attr("value")
        var post_data = {"commodity_name":c_name,"pound":pound,"count":count,"price":price}
        $.ajax({
            url:'/cart/add_cart',
            type:'post',
            data:JSON.stringify(post_data),
            contentType:'application/json',
            dataType:'json',
            success:function(res){
                if(res.code == 200){
                    alert('添加成功')
                }else{
                    alert('您未登录')
                }
            }
        })
    })

    
</script>
</body>
</html>